<p>Redirecting...</p>
<script type="text/javascript">
  $(document).ready(function() {
    localStorage.removeItem('currentTimerValue');
    window.location = '<%= ques_nextpart_url %>'
  });
</script>
