<div class="jumbotron text-center">
  <h1>Talent Acquisition Portal</h1>
  <p>Wrig Nanosystems</p>
  <form class="form-inline">
    <% if !logged_in? %>
    <h4>To Sign up for the test click on the button below</h4>
    <%= link_to "Sign Up", signup_path, class: "btn btn-warning btn-lg" %>
    <div>
    <small>
    Already a user? <%= link_to "Log in", login_path %>
    </small>
    </div>
    <% end %>
  </form>
</div>
<div class="container-fluid drop-shadow">
  <div class="row">
    <div class = "col-sm-8">
      <h2>About Talent Acquisition Portal</h2>
      <h4>The Pre Filter</h4>
      <p>Talent Acquisition Portal has been designed by Wrig to pick out the best. Wanna Join Wrig? Sign Up and Prove yourself!</p>
      <%= link_to "Get in Touch", contact_path, class:"btn btn-default btn-md" %>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-signal logo"></span>
    </div>
  </div>
</div>
<div class="container-fluid bg-grey">
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-globe logo"></span>
    </div>
    <div class="col-sm-8">
      <h2>Our Reach</h2>
      <p>Talent Acquisition Portal has a reachout across the globe. Candidates from across the globe are excited about joining Wrig.</p>
    </div>
  </div>
</div>
<div class="container-fluid text-center">
  <h2>The Exam</h2>
  <br>
  <div class="row slideanim">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-book logo-small"></span>
      <h4>Huge Question Bank</h4>
      <p>Our Question bank has innumerous questions from different categories</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-filter logo-small"></span>
      <h4>Computer Adaptive</h4>
      <p>The test is computer adaptive thereby judging the ability accurately</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-certificate logo-small"></span>
      <h4>Certified</h4>
      <p>The test is certified to judge candidate accurately</p>
    </div>
    </div>
    <br><br>
</div>
<script type="text/javascript">
$(window).scroll(function() {
  $(".slideanim").each(function(){
    var pos = $(this).offset().top;

    var winTop = $(window).scrollTop();
    if (pos < winTop + 600) {
      $(this).addClass("slide");
    }
  });
});
</script>
