<%= provide(:title, "Test Finished") %>
<h1>Congratulations</h1>
<div class="panel panel-default">
  <div class="panel-body">No. of questions attempted : <%= @attempt.count %></div>
</div>
<div class = "container-fluid bg-grey">
  <p>Thank you for attempting the test. In case of future need of contact we will contact you via email.</p>
</div>
<h2>  </h2>
<%= link_to "Home", root_path, class: "btn btn-primary btn-small" %>
<%= link_to "Profile page", user_path(@user), class: "btn btn-primary btn-small" %>

<script type="text/javascript">
  $(document).ready(function() {
      localStorage.removeItem('currentTimerValue');
  });

</script>
