<footer class = "footer">
  <% if !user_giving_test %>
<small>This site contains recruitment test for <a href = "http://www.truehb.com">Wrig Nanosystems</a></small>
<nav>
<ul>
<li><%= link_to "About", about_path %></li>
<li><%= link_to "Contact", contact_path %></li>
<li><%= link_to "FAQ", faq_path %></li>
</ul>
</nav>
<% end %>
</footer>
